.browse {
    color: var(--mantine-color-gray-7) !important;

    @mixin dark {
        color: var(--mantine-color-dark-0) !important;
    }
}

.errorBorder {
    border: calc(.0625rem*var(--mantine-scale)) solid var(--mantine-color-error) !important;
}